<%= render 'optimadmin/shared/header/main_title', title: 'New Member Location' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: member_locations_path, title: 'Member Location' %>

  <%= render 'form', member_location: @member_location %>
</div>